<div class="fondoNegro">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>usuario</mat-label>
      <input name="usuario" type="text" matInput [(ngModel)]="usuario.usuario">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>pass</mat-label>
      <input type="password" name="pass" class="fondo" matInput [(ngModel)]="usuario.pass">
    </mat-form-field>
    <div *ngIf="!nuevo">
      <input type="button" value="Aceptar" (click)="loguear()">
      <input type="button" value="registrar" (click)="nuevo=true">
    </div>
  
  <div *ngIf="nuevo">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input name="Nombre" type="text" matInput [(ngModel)]="usuario.nombre">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input type="Apellido" name="apellido" class="fondo" matInput [(ngModel)]="usuario.apellido">
    </mat-form-field>  
    <input type="button" value="crear" (click)="registrar()">
    <input type="button" value="volve" (click)="nuevo=false">

  </div>  
  </form>


</div>